<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>GPT API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="/index.js" />
</head>

<body class="flex items-center min-h-screen justify-center">
  <div class="rounded-xl p-8 bg-gray-100 flex justify-start flex-col max-w-prose min-w-[25rem] min-h-[33rem] gap-3">

    <h1 class="text-6xl font-bold self-center">GPT API</h1>
    <div>
      <!-- Create a User -->
      <form action="/api/users" method="post">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Create a
          User</button>
      </form>
    </div>
    <p>API for GPT</p>
    <p>API for GPT</p>
    <p>API for GPT</p>
    <p>API for GPT</p>
  </div>
</body>


</html>